* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

ul li {
	border: 1px solid;
	width: 15%;
	height: 30px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 30px;
}